USE [master]
GO
/****** Object:  Database [R67_AppDb]    Script Date: 4/8/2026 11:42:55 PM ******/
CREATE DATABASE [R67_AppDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'R67_AppDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\R67_AppDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'R67_AppDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\R67_AppDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [R67_AppDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [R67_AppDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/8/2026 11:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 4/8/2026 11:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](150) NOT NULL,
	[BusinessStart] [date] NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[CustomerType] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[CreditLimit] [money] NOT NULL,
	[Photo] [nvarchar](max) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryAddresses]    Script Date: 4/8/2026 11:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryAddresses](
	[DeliveryAddressId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ContactPerson] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_DeliveryAddresses] PRIMARY KEY CLUSTERED 
(
	[DeliveryAddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 4/8/2026 11:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Category] [nvarchar](50) NULL,
	[SKU] [nvarchar](20) NULL,
	[Price] [money] NOT NULL,
	[Stock] [int] NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260208212821_ScriptB', N'8.0.23')
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [Name], [Address], [BusinessStart], [Phone], [CustomerType], [Email], [CreditLimit], [Photo]) VALUES (18, N'Azman BB', N'Badda', CAST(N'2026-01-01' AS Date), N'01924879601', N'regular', N'mottakib0@gmail.com', 20000.0000, N'78af9c95-4a6c-4341-af8d-a6dc1b110d7a_PXL_20260204_051717504.MP.jpg')
INSERT [dbo].[Customers] ([CustomerId], [Name], [Address], [BusinessStart], [Phone], [CustomerType], [Email], [CreditLimit], [Photo]) VALUES (26, N'Abdullah', N'Comilla', CAST(N'2026-02-02' AS Date), N'545646465464', N'regular', N'Abdullah@gmail.com', 20000.0000, N'9093553f-9a2b-46a3-b9b4-6900fe1f4576_Screenshot 2025-12-15 015721.png')
INSERT [dbo].[Customers] ([CustomerId], [Name], [Address], [BusinessStart], [Phone], [CustomerType], [Email], [CreditLimit], [Photo]) VALUES (29, N'Habibullah', N'Comilla', CAST(N'2026-02-02' AS Date), N'0146465464', N'regular', N'Habib@gmail.com', 20000.0000, N'b774b6aa-d337-49e5-9879-ddd990f6727f_Screenshot 2025-12-15 015904.png')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[DeliveryAddresses] ON 

INSERT [dbo].[DeliveryAddresses] ([DeliveryAddressId], [CustomerId], [ContactPerson], [Phone], [Address]) VALUES (50, 59, N'ertert', N'ertert', N'etrt')
INSERT [dbo].[DeliveryAddresses] ([DeliveryAddressId], [CustomerId], [ContactPerson], [Phone], [Address]) VALUES (61, 35, N'Mubassir', N'015888884254', N'Mohakhali')
INSERT [dbo].[DeliveryAddresses] ([DeliveryAddressId], [CustomerId], [ContactPerson], [Phone], [Address]) VALUES (62, 35, N'Nisa', N'015666666666666666666', N'Banasree')
SET IDENTITY_INSERT [dbo].[DeliveryAddresses] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [Name], [Category], [SKU], [Price], [Stock], [Description]) VALUES (5, N'frok', N'Clothing', N'er435', 5467.0000, 2, NULL)
INSERT [dbo].[Products] ([ProductId], [Name], [Category], [SKU], [Price], [Stock], [Description]) VALUES (8, N'Shirt', N'Clothing', N'er435', 345.0000, 0, NULL)
INSERT [dbo].[Products] ([ProductId], [Name], [Category], [SKU], [Price], [Stock], [Description]) VALUES (10, N'Chocolate', N'Groceries', N'3456-SFg', 500.0000, 50, NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
/****** Object:  Index [IX_DeliveryAddresses_CustomerId]    Script Date: 4/8/2026 11:42:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_DeliveryAddresses_CustomerId] ON [dbo].[DeliveryAddresses]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[DeliveryAddresses]  WITH CHECK ADD  CONSTRAINT [FK_DeliveryAddresses_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DeliveryAddresses] CHECK CONSTRAINT [FK_DeliveryAddresses_Customers_CustomerId]
GO
/****** Object:  StoredProcedure [dbo].[spCustomerDelete]    Script Date: 4/8/2026 11:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spCustomerDelete]
    @CustomerId INT
AS
BEGIN
    DELETE FROM Customers WHERE CustomerId = @CustomerId;
END
GO
/****** Object:  StoredProcedure [dbo].[spCustomerInsert]    Script Date: 4/8/2026 11:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spCustomerInsert]
    @Name NVARCHAR(100), @Address NVARCHAR(150), @BusinessStart DATE,
    @Phone NVARCHAR(50), @CustomerType NVARCHAR(50), @Email NVARCHAR(50),
    @CreditLimit MONEY, @Photo NVARCHAR(MAX)
AS
BEGIN
    INSERT INTO Customers (Name, Address, BusinessStart, Phone, CustomerType, Email, CreditLimit, Photo)
    VALUES (@Name, @Address, @BusinessStart, @Phone, @CustomerType, @Email, @CreditLimit, @Photo);
END
GO
/****** Object:  StoredProcedure [dbo].[spCustomerUpdate]    Script Date: 4/8/2026 11:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spCustomerUpdate]
    @CustomerId INT, @Name NVARCHAR(100), @Address NVARCHAR(150), @BusinessStart DATE,
    @Phone NVARCHAR(50), @CustomerType NVARCHAR(50), @Email NVARCHAR(50),
    @CreditLimit MONEY, @Photo NVARCHAR(MAX)
AS
BEGIN
    UPDATE Customers SET 
        Name=@Name, Address=@Address, BusinessStart=@BusinessStart, Phone=@Phone,
        CustomerType=@CustomerType, Email=@Email, CreditLimit=@CreditLimit, 
        Photo = ISNULL(@Photo, Photo)
    WHERE CustomerId = @CustomerId;
END
GO
/****** Object:  StoredProcedure [dbo].[spProductDelete]    Script Date: 4/8/2026 11:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[spProductDelete]
    @ProductId INT
AS
BEGIN
    DELETE FROM Products WHERE ProductId = @ProductId;
END
GO
/****** Object:  StoredProcedure [dbo].[spProductInsert]    Script Date: 4/8/2026 11:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spProductInsert]
    @Name NVARCHAR(100),
    @Category NVARCHAR(50),
    @SKU NVARCHAR(20),
    @Price MONEY,
    @Stock INT,
    @Description NVARCHAR(500)
AS
BEGIN
    INSERT INTO Products (Name, Category, SKU, Price, Stock, Description)
    VALUES (@Name, @Category, @SKU, @Price, @Stock, @Description);
END
GO
/****** Object:  StoredProcedure [dbo].[spProductUpdate]    Script Date: 4/8/2026 11:42:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ১. আপডেট প্রসিডিউর
CREATE   PROC [dbo].[spProductUpdate]
    @ProductId INT,
    @Name NVARCHAR(100),
    @Category NVARCHAR(50),
    @SKU NVARCHAR(20),
    @Price MONEY,
    @Stock INT,
    @Description NVARCHAR(500)
AS
BEGIN
    UPDATE Products 
    SET Name=@Name, Category=@Category, SKU=@SKU, Price=@Price, Stock=@Stock, Description=@Description
    WHERE ProductId = @ProductId;
END
GO
USE [master]
GO
